.mob-hero {
    display: block;
    overflow: hidden;
    /*
      Ensure image overflows equally to the left and right of the screen width.
      overflow: hidden (line 3/the parent) ensures that both the left and the right are cut off from the child.
    */
    img {
      /* position: relative; */
      /* display: block; */
      height: 100%;
      /* width: 100%; */
      max-width: 110%;
      transform: translateX(-5%);
    }
  }
  
  @media (min-width: 740px) {
    .mob-hero {
      img {
      margin: 0 auto;
      transform: translateX(0);
    }
  }
  }
@media (min-width: 1440px) {
  .mob-hero {
    display: none;
  }
}
