
.usp {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--spacer_gap);
  padding-bottom: var(--spacer_gap);
}

.usp-images {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  img {
    width: 45%;
    border-radius: 16px;
  }
}

.step-indicator {
  --line-color: 216, 216, 216;
  --num-color: 135, 135, 157;
  
  width: fit-content;
  margin: 0 auto;
  color: rgb(var(--line-color));

  display: grid;
  place-items: center;

  p {
    font-weight: 900;
    color: rgb(var(--num-color));
  }

  .circle {
    --rad: 3rem;
    
    border: 0.065rem solid rgb(var(--line-color));
    width: var(--rad);
    height: var(--rad);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .line {
    padding: .0325rem;
    border-radius: 1px;
    width: 0.0325rem;
    height: 80px;
    background-color: rgb(var(--line-color));
  }

}

